.navbar {
width: 100%;
    padding: 15px 0%;
    background: #ffffff30;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0px;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left,
.nav-center,
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-left {
  justify-content: flex-start;
}

.nav-center {
  justify-content: center;

  ul {
    display: flex;
    gap: 38px;
    list-style: none;
    margin: 0;
    padding: 0;

    li a {
      text-decoration: none;
      font-size: 17px;
      color: #333;
      transition: 0.3s ease;

      &:hover {
        color: #000;
        font-weight: 600;
      }
    }
  }
}

.nav-right {
  justify-content: flex-end;
  gap: 25px;
  .signup-btn {
  padding: 6px 14px;
  border: 1px solid #222;
  border-radius: 5px;
  font-weight: 500;
}

.signup-btn:hover {
  background: #222;
  color: #fff !important;
}


  a {
    text-decoration: none;
    font-size: 17px;
    color: #333;
    transition: 0.3s;

    &:hover {
      color: #000;
      font-weight: 600;
    }
  }
}

.logo {
  font-size: 28px;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  color: #111;
}
