.products-container {
  padding: 20px 40px;
  text-align: center;
}

.products-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.price {
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #6a5acd;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #5947c0;
}
